body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

table {
  color: #333;
  font-family: sans-serif;
  font-size: .9em;
  font-weight: 300;
  text-align: left;

  border-spacing: 0;
  border: 2px solid #975997;
  margin: 5px auto;
}
    table.formdata ,table.form-group{
    font-size: 1.1em;
    }

thead tr:first-child {
  background: #193963;
  color: #fff;
  border: none;
}

th {font-weight: bold;}
th:first-child, td:first-child {padding: 0 15px 0 20px;}

thead tr:last-child th {border-bottom: 3px solid #ddd;}

tbody tr:hover {background-color: #ffeeff;}

tbody td {border-bottom: 1px solid #ddd;}

td:last-child {
   text-align: right;
  padding-right: 10px;
}
td:last-child.tbl-cell-action {
    width: 48px;
}
table.collection-table td.tbl-cell-action a {    
    background-repeat:no-repeat;
    text-indent:-1999px;
    display:inline-block;
    width:16px;
    height:16px;
    cursor:pointer;
}
a.edit {
    background-image:url('http://www.anushkar.com/info/images/pencil.png');
}
a.delete {
    background-image:url('http://www.anushkar.com/info/images/bin-closed-icon.png');
}
p.text-info,h1.StepTitle {
text-transform:uppercase;
width:100%;
text-align:left;
}